<%= link_to(conversation) do %>
  <div class="relative panel panel-default">
    <% if conversation.messages.last.unread?(current_user) %>
      <span class="label label-success absolute-right mar-5"} >New</span>
    <%end%>
    <p class="mar-20 font-20px"><%= conversation.messages.last.body %></p>
  </div>
<% end %>
