<div class="conversation-list">
  <% @conversations.each do |conversation| %>
  <%if conversation.messages.length > 0%>
  <%= render :partial => 'conversation_tab', :locals => {:conversation => conversation} %>
  <%end%>
  <% end %>
</div>

<%if @no_message %>
<div class="empty-result">
  <h3>You Have No Messages</h3>
</div>
<%end%>
