<p id="notice"><%= notice %></p>

<h1>Listing Conversations</h1>

<ul>
  <% @conversations.each do |conversation| %>
    <li><%= link_to "#{conversation.messages.last.body}", conversation %></li>
  <% end %>
</ul>
