<div id="chatbox">
    <% if @messages.any? %>
        <% @messages.each do |message| %>
          <p><%=message.body%></p>
        <%end%>
    <% end %>
</div>

<%= react_component 'NewMessageForm', {data: @conversation}%>


<%= subscribe_to conversation_path(@conversation)%>
