<div id="chatbox">
    <% if @messages.any? %>
        <% @messages.each do |message| %>
          <p><%=message.body%></p>
        <%end%>
    <% end %>
</div>

React Form here


<%= subscribe_to conversation_path(@conversation)%>
