<div class="home-container">
    <div class="panel panel-default stats">
      <div class="panel-body text-center">
        <h2><%=@student_count%> Students</h2>
        <h2><%=@school_count%> Schools</h2>
        <h2><%=@hospital_count%> Hospitals</h2>
        <h2>Tons of carpools arranged</h2>
      </div>
    </div>
  </div>
</div>
