.bg-container{
  position: relative;
  background-image: image-url('openroad.jpg')  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 95%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 95vh; /* These two lines are counted as one :-)       */
  height: 95%;
  width: 100%;
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  height: 420px;
  width: 540px;
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: rgba(255,255,255,0.8);
  p {
    font-size: 14px;
  }
  a {
    width: 10%;
  }
  .slide-content {
    display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 90%;
    .place-holder {
      height: 250px;
      width: 300px;
      display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $theme-gray;
      color: darken($theme-gray,20%)
    }
  }
}

.slide.active {
  opacity: 1;
}
