.custom-form {
  display: flex;
  justify-content: center;
  border: 2px solid #428bca;
  padding: 1em;
  border-radius: 3px;
  margin-top:2em;
  margin-bottom: 2em;

  .form-group{
    padding-left: 3em;
    padding-right: 3em;
  }
}

.login-form{
    padding:2em;
    border: solid 2px #428bca;
    border-radius:3px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
