.interview-panel {
  overflow: scroll !important;
  max-height: 185px !important;
  height: 185px !important;
}

.panel {
  padding: 0px !important;
  min-height: 100px;
  text-transform: capitalize;
}

.panel-flex-container-2 {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  .panel-flex-item {
    margin:5px;
    width: calc(100% * (1/2) - 10px);
  }
  .panel-flex-item-large {
    margin:5px;
    width: 100%;
  }
}

.panel-flex-container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-result {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 268px;
  color: darken($theme-gray,10%);
  h1 {
    font-size: 25px;
    margin: 0px;
  }
}

.search-results-panel {
  .flex-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel-heading {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    .panel-avatar {
      height: 28px;
      width: 28px;
      border-radius: 15px;
      margin-right: 10px;
    }
    p {
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }
}

.slide-in-enter {
  opacity: 0;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.slide-in-enter-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.slide-in-leave {
  opacity: 0;
}
